@import './_mixins.scss';
@import './_vars.scss';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Crimson Pro";
  box-sizing: border-box;
  color: white;
  overflow-x: hidden;
}

::selection {
  background-color: black;
  color: #d5d5d5;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}
h1 {
  font-size: 2rem;
}
p {
  line-height: 1.25;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  padding: 14px 26px;
  border: 3px solid white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    color: black;
    background-color: white;
  }
  &.dark {
    color: black;
    border-color: black;
    &:hover {
      color: white;
      background-color: black;
    }
  }
  &.small-btn {
    padding: 8px 12px;
    font-size: 12px;
  }
  &.thin {
    font-weight: 400;
    border-width: 2px;
  }
}

hr.title__line {
  border: none;
  height: 4px;
  width: 30px;
  background-color: black;
  margin: 0;
}

#fb-root
  > div.fb_dialog.fb_dialog_advanced.fb_customer_chat_bubble_animated_no_badge.fb_customer_chat_bubble_pop_in,
#fb-root
  > div.fb-customerchat.fb_invisible_flow.fb_iframe_widget
  > span
  > iframe {
  z-index: 0 !important;
}
// .fb_dialog {
//   display: none;
// }
// .fb_dialog.visible {
//   display: block;
// }

.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-enter {
  opacity: 0;
}